@model IQueryable<Phone>

@if (Model.Any())
{
    <section>
        <h2>Каталог</h2>
        <ul class="small-image-list">
            @foreach (Phone phone in Model)
            {
                <li>
                    <a asp-area="" asp-controller="Phones" asp-action="Index" asp-route-id="@phone.Id">
                        <img src="~/images/@phone.TitleImagePath" alt="" class="left" />
                    </a>
                    <h4>@phone.Title</h4>
                    <p>@phone.Subtitle</p>
                </li>
            }
        </ul>
    </section>
}